body{
	text-align:center;
	background-color: rgb(220, 220, 220);
}

#videoDrake{
	width:40vw;
	height:40vh;
}

a{
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 10px;
	border-radius: 20px;
	border: solid 1px black;
}


