
body{
	margin:0;
	padding: 0;
	background-image: url('../img/imagem.jpeg');
	background-size: cover;
}
nav{
	padding-left: 10vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	height:7vh;	
	background-color: #a52a2a;
	
}
nav input{
	margin-top:1.5vh;
	padding-top:1vh;
	padding-left:7vw;
	padding-right:10vw;
	padding-bottom:1vh;
	border-radius: 25px;
	width:25vw;
	background-color: #fff8e1;
	color: #a52a2a;
	font-weight:700;
}

#lupa{
	position: fixed;
	margin-top: 2.8vh;
	margin-left: 1vw;
}
nav img{
	float:right;
	margin-right:1vw;
	margin-top:2vh;
}

#headphone{
	float:right;
	color: white;
	margin-top:2.8vh;
	margin-right: 2vw;
}
nav span{
	color: white;
	text-transform:uppercase;
	float:right;
	margin-top:2.8vh;
	margin-right:1vw;
	font-weight:800;
}

section.info{
	display: flex;
	margin-top: 0.8vh;
	border-top: solid 5px #a52a2a;
	border-bottom:solid 10px #a52a2a;
	padding-left: 2vw;
	padding-right: 2vw;
}

section.info div.endereco{
	width: 32vw;
	display:flex;
}


section.info div.endereco p{
	color: #a52a2a;
	text-align: center;	
}

section.info div.texto-endereco{
	padding-top:6vh;
	padding-bottom: 1vh;
}

section.info div.texto-endereco p{
	margin-top: -15px;
	font-size:18px;
}

section.info div.barra-lateral{
	width: 0.5vw;
	background-color: #a52a2a;
	border-radius: 5px;
	transform: rotate(15deg);	
}
section.info div.contatos{
	width: 32vw;
	text-align:center;
}

section.info div.texto-contatos h1{
	color: #a52a2a;
	padding-right:5vw;
}

section.info div.texto-contatos h2{
	margin-top: -5px;
	font-size: 20px;
	color: #a52a2a;	
	margin-left:-95px;
}

section.info div.barra-contatos{
	width: 0.5vw;
	background-color: #a52a2a;
	border-radius: 5px;
	transform: rotate(15deg);	
}

section.info div.redes-sociais{
	width:32vw;
	text-align:center;
}
section.info div.contate h1{
	margin-left:-200px;
	color: #a52a2a;
}
section.info div.area-social{
	display:flex;
	margin-left: 2vw;
}
#instagram{
	margin-left: 1vw;
}
#facebook{
	margin-left:1vw;
}
section.info div.qr-code{
	margin-left:4vw;
	margin-top:-6vh;
	width: 20vw;
}
section.info div.qr-code img{
	width:10vw;
	height:13vh;
	background-color:white;
}

section.menu{
	display: flex;
	justify-content:space-between;
	border-bottom:solid 10px #a52a2a;
	padding-left: 2vw;
	padding-right: 2vw;
	background-color: rgba(255, 128, 0, 0.3);
}
section.menu div.item-menu{
	min-height:10vh;
	
}
section.menu div.barra-lateral{
	width: 0.5vw;
	background-color: #a52a2a;
	border-radius: 5px;
	transform: rotate(15deg);
	height:10vh;
	
}

section.menu div.icone-menu{
	text-align:center;
}

section.menu div.icone-menu i{
	font-size: 40px;
	color:#a52a2a;
	text-align:center;
	transform: rotate(-15deg);
	margin-top:2vh;
	
}

section.menu div.texto-menu p{
	color:#a52a2a;
	padding-left:-5vw;
	text-align:center;
}

section.menu div.icone-menu:hover{
	background-color:#783c00;
	cursor:pointer;
}

section.menu div.texto-menu:hover p{
	color:white;
}
section.menu div.icone-menu i:hover{
	color:white;
}

section.conteudo-meio div.nome-meio{
	text-align:center;
	margin-top:-2vh;
}

section.conteudo-meio div.nome-meio h1{
	color:black;
	font-size:2vw;
	height:2vh;
}

section.conteudo-meio div.nome-meio h2{
	color:black;
	font-size:2vw;
	height:2vh;
}

section.conteudo-meio div.img-principal img{
	height:50vh;
	width:100vw;
	border-top: solid 5px #a52a2a;
	border-bottom: solid 5px #a52a2a;
}

section.conteudo-meio div.texto-final{
	text-align:center;
	margin-top:-2vh;
}

section.conteudo-meio div.texto-final h1{
	color:black;
	font-size:2vw;
	height:2vh;
}

section.conteudo-meio div.texto-final h2{
	color:black;
	font-size:2vw;
	height:2vh;
	
}

