body{
	margin-left: 10vw;
	margin-right:10vw;
	margin-top: 4vh;;
}

.header{
	display: flex;
	
}

.head-left{
	margin-right: 3vw;
	min-height: 10vh;
	width: 30vw;
	background-color: purple;
	
	
}

.head-right{
	margin-left: 5vw;
	min-height: 10vh;
	width: 90vw;
	background-color: grey;
}
.central{
	display: flex;
}


.central-azul{
	margin-right: vw;
	min-height: 40vh;
	width: 150vw;
	background-color: blue;
	margin-top: 4vh;
	
}
.centrais{
	display: flex;
}

.centrais-left{
	margin-right: 3vw;
	min-height: 30vh;
	width: 25vw;
	margin-top: 4vh;
	
	
}
.conteudo-total{
	background-color: orange;
	min-height: 30vh;

}
.centrais-center{
	margin-center: 3vw;
	min-height: 5vh;
	width: 25vw;
	background-color: red;
	margin-top: 4vh;

}

.centrais-right{
	margin-left: 3vw;
	min-height: 30vh;
	width: 25vw;
	background-color: green;
	margin-top: 4vh;
	
}

.conteudo-total{
	display: flex;
}

.conteudo{
	display: column;
	margin-top:3vh;
	
}
.conteudo-center{
	display: column;
	margin-top:33vh;
}
.conteudo-centralizado{
	background-color: red;
	min-height: 30vh;
}

.conteudo-1{
	
	margin-right: 3vw;
	min-height: 3vh;
	width: 24vw;
	background-color: gray;
	margin-bottom: 4vh;
}

.conteudo-2{
	margin-center: 3vw;
	min-height: 3vh;
	width: 25vw;
	background-color: gray;
	margin-top: 4vh;
	
}

.conteudo-3{
	margin-left: 3vw;
	min-height: 3vh;
	width: 25vw;
	background-color: gray;
	margin-top: 4vh;
}
@media(max-width:570px){
	
	.header{
		
		width: 100vw;
		min-height: 3vh;
	}
	.centrais{
		flex-direction: column;
		width: 100%;
		min-height: 3vh;
	}
	.conteudo-total{
		flex-direction: column;
		width: 100%;
		min-height: 3vh;
	}
	.central{
		
	}
	
}
