@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

body{
	font-family: 'Edu VIC WA NT Beginner', cursive;
	background-color: #aaa8e6;
	color:white;
	margin-left:20%;
	margin-right:20%;
}

img{
	margin-top: 15px;
	margin-bottom: 15px;
	border:solid 5px white;
	border-radius: 20px;
	max-width:100%;
	
}

p{
	text-indent: 50px;
	
}