body{
	margin:0;
	padding:0;
	text-align: center;
	font-family: sans-serif;
	background-color: rgb(230,230,230);
}

div#div-lista{
	min-height:50vh;
	background-color: rgb(245, 245, 245);
	margin-left:10vw;
	margin-right:10vw;
	border:solid 1px #999;
	border-radius:20px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
	
}