div.formulario{
	display:flex;
	margin-top:10vh;
	color: black;
	justify-content:center;
}
form.box{
	width:30vw;
	height:20vh;
	border: solid 0.5vw black;
	text-align:center;
	background-color: blue;
	margin-top:10vh;
}

form.box label{
	font-size:20px;
	
}

div.formulario #nome-usuario{
	width: 10vw;
	border-radius: 1vw;
	text-align:center;
	margin-top:5vh;
}

div.formulario #email{
	width: 13.30vw;
	border-radius: 1vw;
}

div.formulario #botao{
	
}